.buttonGame {
    display: inline-block;
    background-color: #7b38d8;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 15px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
.buttonGame span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
.buttonGame span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
.buttonGame:hover {
    background-color: #f7c2f9;
  }
  
.buttonGame:hover span {
    padding-right: 25px;
  }
  
.buttonGame:hover span:after {
    opacity: 1;
    right: 0;
  }

body {
  text-align: center;
}

#board {
  background-color: black;
  border-top: 5px solid skyblue;
  border-bottom: 5px solid skyblue;
}