#gameContainer {
    text-align: center;
}

#gameBorad {
    border: 3px solid;
}

#scoreText {
    font-family: "consolas", monospace;
    font-size: 100px;
}

#resetButton {
    font-family: "Permanent Marker", cursive;
    font-size: 22px;
    width: 100px;
    height: 50 px;
    border: 4px solid;
    border-radius: 15px;
    cursor: pointer;
}